body {
    background-color: pink;

}
nav{
    text-transform: uppercase;
    font-family: PT Sans Norror;
}
.nav-link{
    font-weight: bold;
}
/*when you hover the tabs change font and background*/
.nav-link:hover{
    font-style: italic;
    background-color: #40E0D0 !important;
}
    
    
/*this is for the main tab=nav*/
header{
    height: 400px;
    width:  1500px;
    background-image:url("hey.jpg");
    background-size: cover;

    /*text aline*/
    text-align: center;
}
header p{
    font-style: italic;
    color: white;
}
header h1{
    color: white;
}
.services {
    text-align: center;
}
.services i{
        font-size: 30px;
        padding: 25px 20px;
        
        color : #fff;
        /*background-color: #5bc0de;*/
        
        width: 80px;
        height:80px;
        
        border-radius: 50%;
}
.services span{
    width: 200px;
    display: inline-block;
}